.container-main-detail {
    margin-top: 5%;
}

.wrap-main-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}

.img-main-detail,
.box-text-main-detail {
    width: 400px;
    height: 400px;

}

.box-text-main-detail {
    display: flex;
    flex-direction: column;
}

.line-text-main-detail {
    padding: 2px;
    margin: 10px 0;
    font-weight: 600;
}

.box-title-main-detail {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.description-detail {
    font-weight: 400;
}

.btn-log,
.btn-log-content,
.btn-buy {
    border: none;
    width: 90%;
    height: 50px;
    margin: 10px 0;
    font-size: 1.2rem;
    background-color: lightgray;
}

.btn-log:hover,
.btn-log-content:hover,
.btn-buy:hover {
    font-weight: 600;
    color: white;
}

.btn-log:hover,
.btn-log-content:hover {
    background-color: blue;
}

.btn-buy:hover {
    background-color: blueviolet;
}


@media screen and (max-width: 768px) {
    .container-main-detail {
        margin-top: 10%;
    }

    .wrap-main-detail {
        flex-direction: column;
    }

    .wrap-text-main-detail {
        margin: 30px 0 0 40px;
    }
}
