* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

/* ai 페이지  */
.container-painting {
    /*display: none;*/
    margin-top: 5%;
}

.wrap-content-painting {
    display: flex;
    justify-content: space-between;
}

.box-img {
    background-color: slategray;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 13% 3%;
    text-align: center;
    font-size: 2rem;
}

.box-base {
    margin-left: 15%;
}

.box-base:hover {
    background-color: blue;
    color: whitesmoke;
}

.box-style {
    margin-right: 15%;
}

.box-style:hover {
    background-color: blueviolet;
    color: whitesmoke;
}

.label-img {
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

.box-btn-painting {
    width: 40%;
    margin: 5% auto;
    text-align: center;
}

.btn-painting {
    border: 0;
    outline: 0;
    padding: 12px 20px;
    font-size: 1.2rem;
}

.btn-painting:hover {
    background-color: black;
    color: whitesmoke;
}


/* 추론 페이지 */

.container-process {
    display: none;
    width: 100vw;
    height: 100vh;
    line-height: 90vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
}

.text-process {
    font-size: 10rem;
    font-weight: 600;
}

/* 결과 페이지 */

.container-result {
    display: none;
    margin-top: 5%;
}

.wrap-content-result {
    display: flex;
    justify-content: space-between;
}

.box-result {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 3%;
    text-align: center;
    font-size: 2rem;
}

.box-img-result {
    margin-left: 15%;
    background-color: slategray;
}

.box-text-result {
    margin-right: 15%;
}

.text-title > input,
.text-price > input,
.text-category > span,
.btn-result {
    border: none;
    outline: none;
    width: 100%;
    font-size: 2rem;
}

.text-title,
.text-price,
.wrap-radio,
.btn-result {
    margin-bottom: 2rem;
    padding: 10px;
}

.text-title,
.text-price {
    text-indent: 5px;
}

.text-title,
.text-price,
.text-category,
.text-title > input,
.text-price > input {
    background-color: lightgray;
}

.text-category {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
    font-size: 1rem;
}

.text-category > span {
    margin: 10px 0;
}

.box-radio {
    padding: 10px;
    margin-top: 10px;
}

.box-btn-result {
    margin-top: 2rem;
}

.btn-result {
    cursor: pointer;
    background-color: slategray;
}

.btn-result:hover {
    background-color: blueviolet;
    color: white;
}


@media screen and (max-width: 768px) {
    .container-painting {
        margin-top: 15%;
    }

    .box-img {
        padding: 8% 5%;
        color: black;
        font-size: 0.8rem;
    }


    /* 추론 페이지 */
    .text-process {
        font-size: 4rem;
    }


    /*결과 페이지*/
    .container-result {
        margin-top: 15%;
    }

    .wrap-content-result {
        display: flex;
        flex-direction: column;
    }

    .box-result {
        margin: 20px auto;
        padding: 3% 5%;
        color: black;
        font-size: 1rem;
    }

    .box-img-result {
        width: 70%;
    }

    .box-text-result {
        width: 80%;
    }
}