* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.container-result {
    margin-top: 5%;
}

.wrap-content-result {
    display: flex;
    justify-content: space-between;
}

.box-result {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 3%;
    text-align: center;
    font-size: 2rem;
}

.box-img-result {
    margin-left: 15%;
    background-color: slategray;
}

.box-text-result {
    margin-right: 15%;
}

.text-title > input,
.text-price > input,
.text-category > span,
.btn-result {
    border: none;
    outline: none;
    width: 100%;
    font-size: 2rem;
}

.text-title,
.text-price,
.wrap-radio,
.btn-result {
    margin-bottom: 2rem;
    padding: 10px;
}

.text-title,
.text-price {
    text-indent: 5px;
}

.text-title,
.text-price,
.text-category,
.text-title > input,
.text-price > input {
    background-color: lightgray;
}

.text-category {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
    font-size: 1rem;
}

.text-category > span {
    margin: 10px 0;
}

.box-radio {
    padding: 10px;
    margin-top: 10px;
}

.box-btn-result {
    margin-top: 2rem;
}

.btn-result {
    cursor: pointer;
    background-color: slategray;
}

.btn-result:hover {
    background-color: blueviolet;
    color: white;
}


@media screen and (max-width: 768px) {
    .container-result {
        margin-top: 15%;
    }

    .wrap-content-result {
        display: flex;
        flex-direction: column;
    }

    .box-result {
        margin: 20px auto;
        padding: 3% 5%;
        color: black;
        font-size: 1rem;
    }

    .box-img-result {
        width: 70%;
    }

    .box-text-result {
        width: 80%;
    }
}