* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

/*.background-init {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background-color: rgba(10, 0, 0, 100);*/
/*}*/

/*.background-init > img {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background-size: cover;*/
/*}*/

.container-init {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrap-init {
    display: inline-block;
    width: 600px;
}

.box-title-init {
    margin-bottom: 2rem;
}

.box-title-init > h1 {
    font-size: 6rem;
    margin: 0;
}

.wrap-input-init {
    padding-left: 0;
}

.wrap-input-init > li {
    list-style: none;
    margin: 0 0 20px;
}

.wrap-input-init > li > input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    text-indent: 10px;
    font-size: 1.2rem;
    background-color: whitesmoke;
    color: grey;
}

.wrap-input-init > li > input:focus {
    outline: 2px solid blueviolet;
}

.wrap-input-init > li > button {
    border: 0;
    outline: 0;
    width: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.wrap-input-init > li > button {
    font-weight: 500;
}

.wrap-input-init > li > button:hover {
    color: whitesmoke;
    background-color: blueviolet;
    font-weight: 600;
}

.wrap-input-init > li > input, button {
    height: 3rem;
}

@media screen and (max-width: 768px) {
    .wrap-input-init > li > input {
        width: 70%;
    }
}


