<script> 
    async function logout(){
        localStorage.clear
        alert("로그아웃 완료되었습니다.")
        window.location.replace(`${frontend_base_url}/templates/user/index.html`);
    }

    async function user_info(){
        const response = await fetch(`${backend_base_url}/user/`, {
            headers: {
                Accept: "application/json",
                'content-type': "application/json",
                "Authorization": "Bearer " + localStorage.getItem("access")
            },
            method: 'GET',
            
        })
        response_json = await response.json()
        fullname = response_json["fullname"] + "님"

        const list = document.querySelector('.box-menu-nav');
        const item = document.createElement('li')
        item.className = "menu-nav-user"
        item.innerText = fullname
        list.prepend(item)

    }
    user_info()
</script>

<div class="container-nav">
    <div class="box-ai-nav">
        <a href="/templates/ai/painting.html" class="painting-menu-nav">CREATE PAINTING</a>
    </div>
    <div class="box-logo-nav">
        <a href="/templates/art/main.html" class="logo-nav">SMOPS</a>
    </div>
    <ul class="box-menu-nav">
        <li><a href="/templates/art/mygallery.html" class="my-menu-nav">MY GALLERY</a></li>
        <li><a onclick="logout()" class="menu-nav">LOGOUT</a></li>
    </ul>
    <a href="#" class="bar-toggle-nav">
        <i class="fa-solid fa-bars"></i>
    </a>
</div>
<div class="wrap-category-nav">
    <ul class="box-category-nav">
        <li><span class="category-nav category-nav-human" onclick="goMainProductbyCategoryPage(this.innerText)">인물화</span></li>
        <li><span class="category-nav category-nav-view" onclick="goMainProductbyCategoryPage(this.innerText)">풍경화</span></li>
        <li><span class="category-nav category-nav-still" onclick="goMainProductbyCategoryPage(this.innerText)">정물화</span></li>
        <li><span class="category-nav category-nav-animal" onclick="goMainProductbyCategoryPage(this.innerText)">동물화</span></li>
    </ul>
</div>