<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Test Page</title>
        <script src="api.js"></script>
        <script src="index.js"></script>

    </head>
    <body>
        <h1>Hello</h1>
        <h2 id="username">유저의 이름 : <span id="username"></span></h2>
        <h2> 반갑습니다 </h2>
        <button type="button" onclick="loadMyGalleryList()">내상품 출력하기</button>
        <ol id="mygallery"></ol>
        <img src="" alt="" id="images">
    </body>
</html>
